@font-face {
  font-family: Estiana;
  src: url("../src/assets/fonts/AVEstiana-Black-BF6776121fde086.otf")
    format("opentype");
}

@font-face {
  font-family: Grotesk;
  src: url("../src/assets/fonts/PPRightGroteskText-CompactMedium.ttf")
    format("truetype");
}

@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

:root {
  --white: #f8f9fa;
  --grey: #ededed;
  --darkgrey: #dedddd;
  --black: #484848;
  --orange: #ff7f11;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Inter;
  color: var(--black);
}

body {
  display: flex;
  height: 100vh;
  background-color: var(--grey);
}

/* NAVBAR */
header {
  color: var(--black);
  height: 100%;
  width: 17vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

h1 {
  font-size: 38px;
  font-family: Estiana;
  color: var(--black);
  padding: 25px 25px 40px;
}

.header-top {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.search-section {
  display: flex;
  gap: 3px;
}

.header-top input {
  background-color: var(--grey);
  border: 1px solid var(--black);
  border-radius: 5px;
  height: 30px;
  width: 200px;
  padding: 10px;
}

.header-top input:focus,
.header-top button:focus {
  border: 2.5px solid var(--orange);
  outline: none;
}

.header-top button {
  border: 1px solid var(--black);
  border-radius: 5px;
  width: 30px;
  cursor: pointer;
}

.header-top button:hover,
.header-top input:hover {
  background-color: var(--darkgrey);
}

.header-top button:active,
.header-top input:active {
  background-color: #dedddd82;
}

.nav-btn {
  display: flex;
  justify-content: center;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

nav hr {
  width: 75%;
  margin-left: 10px;
}

svg {
  width: 22px;
  height: auto;
}

nav button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 20px;
  background-color: var(--grey);
  border: none;
  height: 30px;
  width: 96%;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 10px;
  color: var(--black);
}

nav button:hover {
  background-color: var(--darkgrey);
  cursor: pointer;
}

nav button:active {
  background-color: #dedddd82;
}

/* CONTENT */
.content {
  background-color: var(--darkgrey);
  color: var(--black);
  width: 83vw;
  margin: 30px;
  padding: 40px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h3 {
  font-family: Grotesk;
  font-size: 32px;
  text-transform: uppercase;
  padding-bottom: 16px;
}

/* TASKS  */

.tasks-side-bar {
  border-bottom: 4px solid #d1d1d1;
  display: flex;
  gap: 40px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.tasks-sidebar-button {
  color: #8c8c8c;
  background-color: var(--darkgrey);
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  transition:
    color 180ms ease,
    font-weight 180ms ease;
}

/* 6 buttons of sidebar */
.tasks-sidebar-button:hover {
  color: #aeaeae;
}

.tasks-sidebar-button:focus {
  color: var(--orange);
  outline: none;
}

.tasks-sidebar-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  background: var(--orange);
  transform: scaleX(0);
  transition: transform 280ms ease-in-out;
}

.tasks-sidebar-button:focus::after {
  transform: scaleX(1);
}

.left-sidebar {
  display: flex;
  gap: 40px;
}

.addtask-btn {
  color: #8c8c8c;
  background-color: var(--darkgrey);
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  transition:
    color 180ms ease,
    font-weight 180ms ease;
}

.addtask-btn:hover {
  color: var(--orange);
}

.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks-dialog {
  width: 900px;
  height: 630px;
  background-color: var(--darkgrey);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  padding: 24px;
  outline: none;
}

.dialog-title {
  font-family: Grotesk;
  font-size: 26px;
  padding: 20px;
  text-transform: uppercase;
}

/* FORM IN DIALOG */

.form-container {
  padding: 40px;
}

.tasks-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 45px;
}

.top-form {
  display: flex;
  gap: 200px;
}

.left-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bottom-form {
  display: flex;
  flex-direction: column;
}

.tasks-form-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tasks-form-input {
  background-color: var(--grey);
  border: 1px solid var(--black);
  border-radius: 8px;
  height: 40px;
  width: 250px;
  padding: 10px;
}

.tasks-form-select {
  background-color: var(--grey);
  border: 1px solid var(--black);
  border-radius: 8px;
  height: 40px;
  width: 250px;
  padding-left: 10px;
}

.tasks-form-input:focus,
.tasks-form-select:focus,
.descrip-input {
  outline: none;
  border: 2px solid var(--orange);
}

.descrip-input {
  background-color: var(--grey);
  border: 1px solid var(--black);
  border-radius: 10px;
  height: 100px;
  padding: 10px;
}

.footer-form {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.cancelform-btn,
.validform-btn {
  height: 40px;
  width: 175px;
  border-radius: 8px;
  border: 2px solid var(--black);
  font-weight: 700;
  cursor: pointer;
}

.cancelform-btn {
  background-color: #aeadad;
}

.cancelform-btn:hover {
  background-color: #8b8b8b;
}

.cancelform-btn:active {
  background-color: #737373;
}

.validform-btn {
  background-color: var(--grey);
}

.validform-btn:hover {
  background-color: #f5f4f4;
}

.validform-btn:active {
  background-color: #ffffff;
}

/* DISPLAY OF THE TASKS */

.tasks-item {
  display: grid;
  grid-template-columns: 2fr 0.3fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid var(--black);
}

.tasks-cell {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.tasks-display {
  padding-top: 20px;
}

.list-items {
  text-align: center;
}

#new-line-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#new-line-actions button {
  color: var(--black);
  background-color: var(--darkgrey);
  border: 2px solid var(--black);
  padding: 3px 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

#new-line-actions :first-child:hover {
  background-color: rgb(253, 172, 58);
}

#new-line-actions :last-child:hover {
  background-color: rgb(255, 88, 88);
}
#new-line-actions button:active {
  background-color: #dedddd82;
}

#new-line-priority {
  padding: 5px 10px;
  border-radius: 20px;
}
